.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("../../../assets/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
